div#id.class1(
  class= ['1', '2', variable]
  required=true
  something=false
  data-foo-id=42
)
  div(class=[foo, bar] class=baz)
  div(class={obj1: true, obj2: variable === 'doge'})
  .mixed(
    class={
      mixedObj1: !!var2
    }
    class=['mixedArray1', var2]
  )
  input#special-attr(autocomplete="on" tabindex=5)
  label(for="special-attr") boo
