.items(className=this.class)
  .item(
    key = item.id
    className = item.active ? 'active' : ''
    attributes = {
      'data-id': item.id
    })
    .title= item.title
    .description= item.description
