//- snabbdom-specific API
.jade-class.foo(
  class={'obj-class': true}
  attrs={bar: 'baz'}
  props={id: 'xxx'}
)
  .single-class(attrs={yyy: 'zzz'})
  a(class={aclass: true, bclass: false} props={href: 'mylink'})
  div Hello
  include ./literal-imported-file-multi-root.html
