.text
  .inline-in-tag Inlined within tag
  .piped
    | Hello
    | world
  .tags-whitespace
    | You put the em
    em pha
    | sis on the wrong syl
    em la
    | ble.
  .tag-interpolation Sweet #[blink flashy] tags
